$black: black;
$white: white;

$background-color: white;
$text-color: black;

@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=MuseoModerno:wght@500&display=swap');

$standard-font : 'MuseoModerno', cursive;
$secondary-font: 'Krona One', sans-serif;